
* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}



.profile-pic{
  
  -webkit-animation: squaretocircle 1.5s;
  animation: squaretocircle 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;  
}

.profile-pic:hover{
  -webkit-animation: circletosquare 1.5s;
  animation: circletosquare 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;  
  
}

@keyframes circletosquare{
  0% {clip-path: circle(70.7% at 50% 50%);}
  100% {clip-path: circle(50.0% at 50% 50%); }
}
@-webkit-keyframes circletosquare{
  0% {clip-path: circle(70.7% at 50% 50%);}
  100% {clip-path: circle(50.0% at 50% 50%); } 
}
@keyframes squaretocircle{
  0% {clip-path: circle(50.0% at 50% 50%);}
  100% {clip-path: circle(70.7% at 50% 50%); } 
}
@-webkit-keyframes squaretocircle{
  0% {clip-path: circle(50.0% at 50% 50%);}
  100% {clip-path: circle(70.7% at 50% 50%); } 
}

.mini-profile-pic{
  clip-path: circle(50.0% at 50% 50%);
}